@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr />
    <h6>Исследование методов организации распределённых вычислений: обработка и отображение поверхностей</h6>
    <hr />

    <p id="text"></p>
    <div class="row align-items-center">
        <div id="surface" class="col-md-8 vh-75">
        </div>
        <div class="col-md offset-1">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item m-1">
                    <a class="shadow nav-link" href="@Url.Action("Index", "MyTask")">Выполнить задание</a>
                </li>
                <li class="nav-item  m-1">
                    <a class="shadow nav-link" href="@Url.Action("SolveTask")">Произвольная поверхность</a>
                </li>
                <li class="nav-item  m-1">
                    <a class="shadow nav-link" href="@Url.Action("Index", "Analytics")">Сравнение результатов</a>
                </li>
            </ul>
        </div>
    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function () {
            $.ajax({
                url: "@Url.Action("InitData")",
                type: "get",

                success: function (data) {
                    let layout = {
                        title: 'Пример 3D поверхности',
                        scene: { camera: { eye: { x: -1.17, y: -1.18, z: 1.18 } } },
                        autosize: true,
                        margin: {
                            l: 55,
                            r: 65,
                            b: 45,
                            t: 70,
                        }
                    };
                    Plotly.newPlot('surface', [{
                        z: JSON.parse(data),
                        type: 'surface',
                        contours: {
                            z: {
                                show: true,
                                usecolormap: true,
                                highlightcolor: "#41f461",
                                project: { z: true }
                            }
                        }
                    }], layout);

                    $('#chart').fadeIn(300).show();

                },
            });
        });
    </script>
}

