
@{
    Layout = null;
}

@model double

<div class="row">
    <div class="col-md-8 shadow">
        <h6>Точная площадь поверхности:<small>(мат. пакет)</small></h6>
        <h5>@string.Format("{0:f3}", Model)</h5>
    </div>
    <div class="col-md offset-1">
        <h6>Математический пакет</h6>
        <h5>Python Numpy</h5>
    </div>
</div>
