
@{
    Layout = null;
}
@inject IViewLocalizer Localizer

@model CourseWorkSLN.Models.AreaResultViewModel

<div class="row">
    <div class="col-md-8 shadow">
        <h6>@Localizer["Area"]</h6>
        <h5>@string.Format("{0:f3}", Model.Result)</h5>
    </div>
    <div class="col-md offset-1">
        <h6>@Localizer["Time"]</h6>
        <h5>@Model.Description</h5>
    </div>
</div>

<hr />
