@{ 
    Layout = null;
}

@model string

    <div class="text-warning shadow">
        <h6>При построении поверхности произошла ошибка.</h6>
        <small class="font-weight-light font-italic text-info">@Model</small>
    </div>